body{

    /* border: 5px solid #aaa; 
    height: 100%;  */
    /* margin: 0;
    padding:0; */
    text-align: center;
    background-image: url(/img/friends-3042751_640-min\ \(1\).jpg);
    background-size:100%;
    background-repeat: no-repeat; 
      
}

.msg {
    background-color: white;
    opacity:0.5;
    padding:5px 10px;
}

li {
    list-style: none;
}

ul {
    padding-bottom:15px;
}

.input-by-user {
    padding-bottom: 15px;
}


#dogage {
    background-color: #fff;
}